.DS_Store
/build/*
/.build/*
/.build-ubuntu/*
Package.resolved

xcuserdata

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/
.swiftpm
